<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark Buddy</title>

    <link rel="stylesheet" href="./../../app.css" />

</head>

<body>

    <script type="module" src="./page.ts"></script>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button"
        data-slug="rin2" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee"
        data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
</body>

</html>